@import url('https://cdn.jsdelivr.net/gh/fxxk3rrth4ng/utils/fonts.css');

body {
    font-family: 'Pretendard JP Variable', 'Pretendard Variable' !important;
}

td.game, td.id {
    width: 180px;
    height: 1.5em
}

a {
    color: inherit;
    font-weight: bold;
}